.resultat{
  text-align:center;
  font-size:30px;
}
.maincontainer{
  justify-content:center;
  margin-top:20px;
  display:flex;
  flex-direction:row;
  gap:100px;
  flex-wrap:wrap;
  
}

.inner{

  background-color:white;
  width:300px;
  padding:10px;
  border-radius:10px;
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,1.75);
  -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0, 1.75);
  -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,1.75);
}
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

*,
*:after,
*:before {
	box-sizing: border-box;
}

:root {
	
	--c-white: #fff;
	--c-black: #000;


	--c-ash: #eaeef6;
	--c-charcoal: #a0a0a0;
	--c-void: #141b22;

	--c-fair-pink: #FFEDEC;
	--c-apricot: #FBC8BE;
	--c-coffee: #754D42;
	--c-del-rio: #917072;


	--c-java: #1FCAC5;


	--c-titan-white: #f1eeff;
	--c-cold-purple: #a69fd6;
	--c-indigo: #6558d3;
	--c-governor: #4133B7;
}

/* body {
	font-family: "Spline Sans", sans-serif;
	line-height: 1.5;
	min-height: 100vh;
	background-color: var(--c-ash);
} */

.cards {
display:flex;
flex-direction:column;
	
 
}

.card {
	/* border-radius: 16px;
	box-shadow: 0 30px 30px -25px rgba(#4133B7, .25); */
	/* max-width: 300px; */
}

.information {
	background-color: var(--c-white);
	padding: 1.5rem;

	.tag {
		display: inline-block;
		background-color: var(--c-titan-white);
		color: var(--c-indigo);
		font-weight: 600;
		font-size: 0.875rem;
		padding: 0.5em 0.75em;
		line-height: 1;
		border-radius: 6px;
		& + * {
			margin-top: 1rem;
		}
	}

	.title {
		font-size: 1.5rem;
		color: var(--c-void);
		line-height: 1.25;
		& + * {
			margin-top: 1rem;
		}
	}

	.info {
		color: var(--c-charcoal);
		& + * {
			margin-top: 1.25rem;
		}
	}

	.button {
		font: inherit;
		line-height: 1;
		background-color: var(--c-white);
		border: 2px solid var(--c-indigo);
		color: var(--c-indigo);
		padding: 0.5em 1em;
		border-radius: 6px;
		font-weight: 500;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		/* gap: 0.5rem; */
		&:hover,
		&:focus {
			background-color: var(--c-indigo);
			color: var(--c-white);
		}
	}
	
	.details {
		display: flex;
		/* gap: 1rem; */
		div {
			padding: .75em 1em;
			background-color: var(--c-titan-white);
			border-radius: 8px;
			display: flex;
			flex-direction: column-reverse;
			gap: .125em;
			flex-basis: 50%;
		}
		
		dt {
			font-size: .875rem;
			color: var(--c-cold-purple);
		}
		
		dd {
			color: var(--c-indigo);
			font-weight: 600;
			font-size: 1.25rem;
		}
	}
}


.plan {

	padding: 10px;
	background-color: var(--c-white);
	color: var(--c-del-rio);
	
	strong {
		font-weight: 600;
		color: var(--c-coffee);
	}
	
	.inner {
    
		padding: 20px;
		padding-top: 40px;
		background-color: var(--c-fair-pink);
		border-radius: 12px;
	   position: relative;
		overflow: hidden;
	}
	
	.pricing {
		position: absolute;
		top: 0;
		right: 0;
		background-color: var(--c-apricot);
		border-radius: 99em 0 0 99em;
		display: flex;
		align-items: center;
		padding: .625em .75em;
		font-size: 1.25rem;
		font-weight: 600;
		color: var(--c-coffee);
		small {
			color: var(--c-del-rio);
			font-size: .75em;
			margin-left: .25em;
		}
		
	}
	
	.title {
		font-weight: 600;
		font-size: 1.25rem;
		color: var(--c-coffee);
		& + * {
			margin-top: .75rem;
		}
	}
	
	.info {
		& + * {
			margin-top: 1rem;
		}
	}
	
	.features {
		display: flex;
		flex-direction: column;
		li {
			display: flex;
			align-items: center;
			/* gap: .5rem; */
			& + * {
				margin-top: .75rem;
			}
		}
		
		.icon {
			background-color: var(--c-java);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: var(--c-white);
			border-radius: 50%;
			width: 20px;
			height: 20px;
			svg {
				width: 14px;
				height: 14px;
			}
		}
		
		& + * {
			margin-top: 1.25rem;
		}
	}
	
	button {
		font: inherit;
		background-color: var(--c-indigo);
		border-radius: 6px;
		color: var(--c-white);
		font-weight: 500;
		font-size: 1.125rem;
		width: 100%;
		border: 0;
		padding: 1em;
		&:hover,
		&:focus {
			background-color: var(--c-governor);
		}
	}
	
	
}
















.nbm_reponse_modul_un
{
  width: 300px;
  text-align: center;
  font-size: 20px;
  background-color: #46f606;
  border-radius: 10px;
}
.resultat_model_un h4{
  width: 300px;
  text-align: center;
  font-size: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.contaier_form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circle-svg {
  display: block;
  margin: 10px auto;

  max-height: 100px;
}
.circle-svg text {
  text-align:center;
  color:black;
  font-size:10px
}
.circle-svg path.percent {
  stroke: #6f6fff;
  fill: none;
  stroke-width: 4.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.circle-svg path.around {
    stroke: #c4c4c4;
    fill: none;
    stroke-width: 4.8;
}
body {
  /* text-align:center; */
}




.sondage_model_un{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lable1{
    display: flex;
}
.container_model{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.form_liste_sondage{
    width: 500px;
}
.container_model img{
  width: 600px;
  cursor: pointer;
}
.container_img{
border-radius: 20px;
box-shadow: -1px 9px 40px -12px rgba(0,0,0,1.75);
-moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0, 1.75);
-webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,1.75);
}

.numero_question{
 /* margin-top: -30px; */
  content: "";
  font-size: 10px;
  width: 5px;
  height: 7px;
  border-radius: 50%;
  border: 3px solid #ac2121;
  padding: 8px;

}
.image_model_un{
  width: 700px;
  height: 200vh;
}
.numero_question strong{
  font-size: 18px;

 
}
.form_model1{
  width: 30%;
}
#myDIV {
  width: 100%;
  padding: 2.5px;
  text-align: center;
  background-color: rgb(230, 20, 20);
 
}
.btn-creer-compte{
  width: 100px;
  height: 20vh;
}

.login {
  width: 40%;
  height: 50vh;
}
.register{
  width: 40%;
  height: 65vh;
}

.nav Link{
  text-decoration: none;
}
.username{
    border: none;
}
.App {
  text-align: center;
}
link{
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.maincontaner_nsondage{
  display: flex;
  justify-content: end;
}
.nsondage{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 300px;
  padding: 10px;
}
.ennocee{
  
width: 300px;
text-align: center;
font-size: 20px;
background-color: #ffffff;
border-radius: 10px;
}
.round_lien{
  content: "";
  position:relative;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ac2121;
  top: -20px;
  left: 0px;
  padding: 8px;
}

.round{
  display: flex;
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ac2121;
  top: 1px;
  left: 0px;
  padding: 8px;

}

.REGISTER{
  width:400px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 300px;
}

html, body {
min-height: 100%;
}
 form, input, textarea, label { 
padding: 0;
margin: 0;
outline: none;
font-family: Roboto, Arial, sans-serif;
font-size: 18px;
color: #666;
line-height: 22px;
}

h1 {
position: absolute;
margin: 0;
line-height: 45px;
font-size: 45px;
color: #fff;
z-index: 2;
}
.testbox_listeSondage{
    display: flex;
    justify-content: center;
    flex-direction:row;
    height: inherit;
    padding: 20px;
    gap: 300px;
    flex-wrap: wrap;
}
/* .testbox_listeSondage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: inherit;
    padding: 20px;
} */
.testbox {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
height: inherit;
padding: 20px;
}
form {
width: 100%;
padding: 20px;
border-radius: 6px;
background: #eee;
}



input,  textarea {
margin-bottom: 10px;
border: 1px solid #c44141;
border-radius: 3px;
}
input {
width: calc(100% - 10px);
padding: 5px;
}
textarea {
width: calc(100% - 12px);
padding: 5px;
} 
.item:hover, .question label:hover, input:hover::placeholder {
color:  #000;
}
.item input:hover,  .item textarea:hover {
border: 1px solid transparent;
box-shadow: 0 0 3px 0  #aa1409;
color:  #a3a1a1;
}

.item {
  display: flex;
  justify-content: center;
  flex-direction: row;
position: relative;
margin: 10px 0;
}
input[type=radio]  {
display: none;
}

label.radio {
position: relative;
display: inline-block;
margin: 5px 20px 15px 0;
cursor: pointer;
}
.red {
color: red;
}
.question span {
margin-left: 30px;
}
label.radio:before {
top: 3px;
content: "";
position: absolute;
left: 0;
width: 17px;
height: 17px;
border-radius: 50%;
border: 2px solid #ac2121;
}

input[type=radio]:checked + label:before, label.radio:hover:before {
border: 2px solid #aa1409;
}
label.radio:after {
content: "";
position: absolute;
top: 8px;
left: 5px;
width: 10px;
height: 5px;
border: 3px solid #aa1409;
border-top: none;
border-right: none;
transform: rotate(-45deg);
opacity: 0;
}

input[type=radio]:checked + label:after {
opacity: 1;
}
.btn-block {
margin-top: 10px;
text-align: center;
}

button {
width: 200px;
padding: 10px;
border: none;
border-radius: 5px; 
background: #aa1409;
font-size: 16px;
color: #000000;
cursor: pointer;
}
button:hover {
background: #790e06;
}
@media (min-width: 568px) {
.name-item, .city-item {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.name-item input, .name-item div {
width: calc(50% - 20px);
}
} 